# central = RIGHT hand (trackball side)
if SHIELD_ARARE_R

config ZMK_KEYBOARD_NAME
	default "arare"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ARARE_L || SHIELD_ARARE_R

config ZMK_SPLIT
	default y

config ZMK_POINTING
	default y

endif
